<%- include('../../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../../includes/navigation.ejs')%>
            <main id="main">
                <% if(messages.info) { %>
                    <%= messages.info %>
                        <% } %>
                            <p>Edit Department</p>
                            <form action="/edit-department/<%= data.id %>" method="POST">
                                <input type="text" name="name" value="<%= data.name %>">
                                <input type="text" name="info" value="<%= data.info %>">
                                <button type="submit">Save Changes</button>
                                <button type="reset">Reset</button>
                            </form>

            </main>
    </body>
    <%- include('../../includes/end.ejs') %>