<%- include('../../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../../includes/navigation.ejs')%>
            <main id="main">
                <% if(messages.info) { %>
                    <%= messages.info %>
                        <% } %>
                            <p>Add Project Member</p>
                            <form action="/project/project-member" method="POST">
                                <label for="department">Select department:</label>
                                <select name="projectId" id="deptId">
                                    <% data.forEach(function(data){ %>
                                        <option value="<%= data.id %>"><%= data.name %></option>
                                        <% }) %>
                                </select><br>
                                <label for="user">Select member:</label>
                                <select name="userId" id="userId">
                                    <% result.forEach(function(result){ %>
                                        <option value="<%= result.id %>"><%= result.firstName %> <%= result.lastName %></option>
                                        <% }) %>
                                </select><br>
                                <input type="submit" value="Add">
            </main>
    </body>
    <%- include('../../includes/end.ejs') %>