<%- include('../../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../../includes/navigation.ejs')%>
            <main id="main">
                <% if(messages.info) { %>
                    <%= messages.info %>
                        <% } %>
                            <p>view project member</p>
                            <table border="1px">
                                <tr>
                                    <th>SN</th>
                                    <th>Project Name</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Action</th>
                                </tr>
                                <% for(var i = 0; i < data.length; i++) { %>
                                    <tr>
                                        <td>
                                            <%=i+1%> 
                                        </td>
                                        <td>
                                            <%= data[i]?.project?.name%>
                                        </td>
                                        <td>
                                            <%= data[i]?.user?.firstName %>
                                        </td>
                                        <td>
                                            <%= data[i]?.user?.lastName %>
                                        </td>
                                        <td>
                                            <a href="/delete-projectMember/<%= data[i].id %>">Delete</a>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <button onclick="window.location.href='addproject-member'">Add new</button>
            </main>
    </body>
    <%- include('../../includes/end.ejs') %>